# output dir
output
instant_test_output
inference_test_output


*.png
*.json
*.diff
*.jpg
!/projects/DensePose/doc/images/*.jpg

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/detectron2/model_zoo/configs
/datasets/*
!/datasets/*.*
/projects/*/datasets
/models
/snippet

configs/
annotations/
*.sh
*.out
*.err
a.txt

*.ipynb

results/
resume/events.out.tfevents.1669875999.sw10.232392.0
resume/last_checkpoint
.gitignore
resume/events.out.tfevents.1669876116.sw10.235137.0
resume/val_coco_format.json.lock
